<app-canvas [canvas]="canvas">
  <img id="_football" class="football state1" src="assets/football.svg">
  <img id="football" class="football" src="assets/football.svg">

</app-canvas>
<br />
<div class="boxed container text-center">
  <button (click)="reset()">Reset</button>
  <button (click)="simulate()">Simulate</button>
  <br />
  <br />
  <label >
    Distance: 
    <input type="number" value="{{canvasSize}}" [(ngModel)]="distance" max="600">
  </label>
  <br />
  <label >
    Velocity:
    <input type="number" value="{{canvasSize}}" [(ngModel)]="velocity">
    m/s
  </label>
  <br />
  <label >
    Time:
    <input type="number" value="{{canvasSize}}" [(ngModel)]="time">
    s
  </label>
</div>