<app-canvas [canvas]="canvas">
  <img id="_football" #_football class="football state1" src="assets/football.svg">
  <img id="football" #football class="football" src="assets/football.svg">
</app-canvas>

<br />
<br />
<br />
<div class="text-center">
  <button (click)="stop()" class="btn btn-danger" type="button">Refresh</button>&nbsp;&nbsp;
  <button (click)="start()" class="btn btn-primary" type="button">Start</button>

</div>



<br />

Current Velocity: {{v.currentVelocity}}
<br />
Time: {{time}}

<table class="table">
  <tr>
    <td><label for="">Initial Velocity:</label></td>
    <td><input type="number" [(ngModel)]= "initialVelocity" (change)="calculateValue()"></td>
  </tr>
  <tr>
    <td><label for="">Acceleration(g):</label></td>
    <td><input type="number" [(ngModel)]= "acceleration" (change)="calculateValue()"></td>
  </tr>
  <tr>
    <td><label for="">Displacement:</label></td>
    <td><input type="number" [(ngModel)]= "displacement" (change)="displaceBalls()"></td>
  </tr>
</table>

