<div class="container">
  <div class="row">
    <div class="lessons col-3">
      <ul class="list-group">
        <li class="list-group-item">
          Motion
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/lesson/motion/linear.ts">Linear Motion</a></li>
            <li class="list-group-item"><a routerLink="/lesson/motion/rotary.ts">Circle Motion</a></li>
            <li class="list-group-item"><a routerLink="/lesson/motion/reciprocating.ts">Reciprocating Motion</a></li>
            <li class="list-group-item"><a routerLink="/lesson/motion/oscillating.ts">Oscillating Motion</a></li>
            <li class="list-group-item"><a routerLink="/lesson/motion/displacement.ts">Displacement Motion</a></li>
          </ul>
          
        </li>
        <li class="list-group-item">
          Gravity
          <ul class="list-group">
            <li class="list-group-item"><a routerLink="/lesson/gravity/falling-body.ts">Falling Body</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="details col">
      Lesson details
      <router-outlet></router-outlet>
    </div>
  </div>
</div>