<app-canvas [canvas]="canvas">
  <img id="_football" class="football state1" src="assets/football.svg">
  <img id="football" class="football" src="assets/football.svg">
</app-canvas>

<br />
<br />
<br />
<div class="text-center">
  <button (click)="stop()" class="btn btn-danger" type="button">Refresh</button>&nbsp;&nbsp;
  <button (click)="start()" class="btn btn-primary" type="button">Start</button>

</div>



<br />

<table class="table">
  <tr>
    <td><label for="">Angle:</label></td>
    <td><input type="number" name="" id=""  [(ngModel)]= "angle"></td>
    <td></td>
  </tr>
  <tr>
    <td><label for="">Initial Velocity:</label></td>
    <td><input type="number" [(ngModel)]= "initialVelocity"></td>
    <td><button (click)="calculateValue('initialVelocity')" class="btn btn-success">Calculate</button></td>
  </tr>
  <tr>
    <td><label for="">Time:</label></td>
    <td><input type="number" [(ngModel)]= "time"></td>
    <td><button (click)="calculateValue('time')" class="btn btn-success">Calculate</button></td>
  </tr>
  <tr>
    <td><label for="">Acceleration:</label></td>
    <td><input type="number" [(ngModel)]= "acceleration"></td>
    <td><button (click)="calculateValue('acceleration')" class="btn btn-success">Calculate</button></td>
  </tr>
  <tr>
    <td><label for="">Displacement:</label></td>
    <td><input type="number" [(ngModel)]= "displacement"></td>
    <td><button (click)="calculateValue('displacement')" class="btn btn-success">Calculate</button></td>
  </tr>
</table>

