<app-canvas [canvas]="canvas">
  <img id="_football" class="football state1" src="assets/football.svg">
  <img id="football" class="football" src="assets/football.svg">
</app-canvas>

<br />
{{eqChanged | json}}
<br />
<br />
<button (click)="stop()">Stop</button>
<button (click)="start()">Start</button>

<br />
<br />
<label for="">
  Angle:
  <input type="number" name="" id=""  [(ngModel)]= "angle">
</label>
<br />
<label for="">
  Initial Velocity:  ({{initialVelocity}})
  <input type="number" name="" id="" (change)= "ngOnChanges('initialVelocity')"  [(ngModel)]= "initialVelocity">
</label>
<br />
<label for="">
  Time: ({{time}})
  <input type="number" name="" id="" (change)= "ngOnChanges('time')" [(ngModel)]= "time" readonly>
</label>
<br />
<label for="">
  Acceleration: ({{acceleration}})
  <input type="number" name="" id="" (change)= "ngOnChanges('acceleration')"  [(ngModel)]= "acceleration">
</label>
<br />
<label for="">
  Displacement: ({{displacement}})
  <input type="number" name="" id="" (change)= "ngOnChanges('displacement')"  [(ngModel)]= "displacement">
</label>
